rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 只有登入後的使用者，且 UID 符合該路徑時，才允許讀寫自己的資料
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
