rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 只有登入後的使用者，且 UID 符合該路徑時，才允許讀寫自己的檔案
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
